<div class="user-show-container row">
	<div class="user-profile-area col-xs-4">
		<h2><%= user.get('username') %></h2>

		<div class="user-avatar-container">
			<% if(user.get('avatar_url')) { %>
				<img src="<%= user.get('avatar_url') %>">
				<% if(user.id === user.get('current_user_id')) { %>
					<a href="#">Upload a new profile picture</a>
				<% } %>
			<% } else { %>
				<img src="/assets/default-avatar.jpg">
				<% if(user.id === user.get('current_user_id')) { %>
					<a href="#">Upload a profile picture</a>
				<% } %>
			<% } %>
		</div>

		<div class="about-me-container">
			<h4>About Me</h4>
			<% if(user.get('about_me')) { %>
				<% if(user.id === user.get('current_user_id')) { %>
					<a href="#" class="edit-about-me-link">Edit</a>
				<% } %>
				<p class='about-me-field'><%= user.escape('about_me') %></p>
			<% } else { %>
				<% if(user.id === user.get('current_user_id')) { %>
					<a href="#" class="new-about-me-link">Make!</a>
				<% } else { %>
					<p>Nothing yet!</p>
				<% } %>
			<% } %>
		</div>

		<div class="user-stats-container">
			<p>Member since <%= (new Date(user.get('created_at'))).toDateString() %></p>
			<p>Written <%= user.get('num_reviews') %> reviews</p>
		</div>

	</div>

	<div class="user-right-container col-xs-8">
		<h3>Reviews</h3>
		<div class="review-user-list">
		</div>
	</div>
</div>