<h3>Edit your review for <%= business_name %>?</h3>
<form class="edit-review-form" role="form">
  <input type="hidden"
         name="review[business_id]"
         value="<%= review.get('business_id') %>">

  <input type="hidden"
         name="review[id]"
         value="<%= review.id %>">

  <div class="form-group">
    <label class="control-label" for="review-stars">Rating</label>
    <div id="review-stars" class="rateit" name="review[stars]" data-rateit-value="<%= review.get('stars') %>" data-rateit-ispreset="true"></div>
  </div>

  <div class="form-group">
    <label class="control-label" for="review-content">Your thoughts</label>
    <textarea id="review-content" class="form-control" name="review[content]"><%= review.get('content') %></textarea>
  </div>

  <div class="form-group">
    <label class="control-label" for="review-go-again">Go again?</label>
    <input type="checkbox" id="review-go-again" name="review[go_again]"
    <% if(review.get('go_again')) { %>
      checked
      <% } %>>
  </div>

  <div class="form-group">
    <button class="btn btn-material-bluegrey add-pictures">Add Pictures</button>
  </div>

  <div class="form-photos">

  </div>
</form>